@import 'primeflex/primeflex.scss';

.new-user {
  .buttons {
    @include styleclass('w-full flex');
  }
}

.fields-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  max-width: 1280px;
  .wrap-field {
    .p-inputtext {
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .fields-container {
    grid-template-columns: 1fr 1fr;
  }
}
 

@media screen and (min-width: 1024px) {
  .fields-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
    

