@import 'primeflex/primeflex.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  h1 {
    text-align: center;
  }
}

.heading-2 {
  @include styleclass('text-3xl text-800 my-4');
}

.heading-3 {
  @include styleclass('text-2xl text-600 mt-4 mb-0');
}

.heading-4 {
  @include styleclass('text-xl text-600 mt-4 mb-0');
}
